version: "3"
services:
    web:
        container_name: "web-server"
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.web
        environment:
            - ENV=DOCKER
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    web2:
        container_name: "web-server2"
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.web
        environment:
            - ENV=DOCKER
            - NAME=web2
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    transaction:
        container_name: "transaction-server"
        depends_on:
            - dataDB
            - quote-cache
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.transaction
        environment:
            - ENV=DOCKER
            - USER_NAME=user
            - USER_PASS=user
            - NAME=transaction
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    transaction2:
        container_name: "transaction-server2"
        depends_on:
            - dataDB
            - quote-cache
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.transaction
        environment:
            - ENV=DOCKER
            - USER_NAME=user
            - USER_PASS=user
            - NAME=transaction2
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    quote-cache:
        container_name: "quote-cache-server"
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.quote-cache
        environment:
            - ENV=DOCKER
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    dataDB:
        image: mongo:latest
        container_name: "data-mongodb"
        command: mongod --auth --profile 2 --replSet rs0 --keyFile /opt/keyfile
        depends_on:
            - dataDB2
            - dataDB3
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin
            MONGO_INITDB_DATABASE: extremeworkload
        volumes:
            - ./data-keyfile:/opt/keyfile:ro
            - ./data-mongo-init.js:/docker-entrypoint-initdb.d/data-mongo-init.js:ro
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    dataDB2:
        image: mongo:latest
        container_name: "data-mongodb2"
        command: mongod --auth --profile 2 --replSet rs0 --keyFile /opt/keyfile
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin
            MONGO_INITDB_DATABASE: extremeworkload
        volumes:
            - ./data-keyfile:/opt/keyfile
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    dataDB3:
        image: mongo:latest
        container_name: "data-mongodb3"
        command: mongod --auth --profile 2 --replSet rs0 --keyFile /opt/keyfile
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin
            MONGO_INITDB_DATABASE: extremeworkload
        volumes:
            - ./data-keyfile:/opt/keyfile
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    audit:
        container_name: "audit-server"
        depends_on:
            - auditDB
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.audit
        environment:
            - ENV=DOCKER
            - USER_PASS=user
            - USER_NAME=user
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    auditDB:
        image: mongo:latest
        container_name: "audit-mongodb"
        command: mongod --auth  --replSet rs0 --keyFile /opt/keyfile
        depends_on:
            - auditDB2
            - auditDB3
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin
            MONGO_INITDB_DATABASE: audit
        volumes:
            - ./data-keyfile:/opt/keyfile:ro
            - ./audit-mongo-init.js:/docker-entrypoint-initdb.d/audit-mongo-init.js:ro
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    auditDB2:
        image: mongo:latest
        container_name: "audit-mongodb2"
        command: mongod --auth  --replSet rs0 --keyFile /opt/keyfile
        depends_on:
            - dataDB2
            - dataDB3
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin
            MONGO_INITDB_DATABASE: audit
        volumes:
            - ./data-keyfile:/opt/keyfile:ro
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    auditDB3:
        image: mongo:latest
        container_name: "audit-mongodb3"
        command: mongod --auth  --replSet rs0 --keyFile /opt/keyfile
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin
            MONGO_INITDB_DATABASE: audit
        volumes:
            - ./data-keyfile:/opt/keyfile:ro
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    load-web:
        container_name: "load-balancer-web"
        depends_on:
            - web
            - web2
        build:
            context: .
            dockerfile: docker-files/load-balancers/Dockerfile.web
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
        ports:
            - "8080:8080"

    load-transaction:
        container_name: "load-balancer-transaction"
        depends_on:
            - transaction
            - transaction2
        build:
            context: .
            dockerfile: docker-files/load-balancers/Dockerfile.transaction
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
