version: "3"
services:
    load-web:
        environment:
            - ENV=DEV
        ports:
            - "8080:8080"

    load-transaction:
        environment:
            - ENV=DEV
        ports:
            - "5000:5000"

    web:
        environment:
            - ENV=DEV
        ports:
            - "5005:8080"
        # These limits only apply when 'docker-compose --compatibility' flag is used
        deploy:
            resources:
                limits:
                    cpus: "0.5"
                    memory: "100M"

    web2:
        environment:
            - ENV=DEV
        ports:
            - "5006:8080"
        # These limits only apply when 'docker-compose --compatibility' flag is used
        deploy:
            resources:
                limits:
                    cpus: "0.5"
                    memory: "100M"

    transaction:
        ports:
            - "5007:5000"
        environment:
            - ENV=DEV

    transaction2:
        ports:
            - "5008:5000"
        environment:
            - ENV=DEV

    audit:
        ports:
            - "5002:5002"
        environment:
            - ENV=DEV

    quote-cache:
        ports:
            - "5004:5004"
        environment:
            - ENV=DEV

    dataDB:
        command: mongod --auth --profile 2
        ports:
            - "27017:27017"

    auditDB:
        ports:
            - "5003:27017"

    quote-mock:
        ports:
            - "4443:4443"
