version: "3"
services:
    web:
        container_name: "web-server"
        depends_on:
            - transaction
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.web
        ports:
            - "8080:8080"
        environment:
            - ENV=DOCKER
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
    web2:
        container_name: "web-server2"
        depends_on:
            - transaction
            - audit
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.web
        ports:
            - "8081:8080"
        environment:
            - ENV=DOCKER
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    transaction:
        container_name: "transaction-server"
        depends_on:
            - data
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.transaction
        environment:
            - ENV=DOCKER
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    data:
        container_name: "data-server"
        depends_on:
            - dataDB
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.data
        environment:
            - ENV=DOCKER
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    dataDB:
        image: mongo:latest
        container_name: "data-mongodb"
        environment:
            MONGO_INITDB_DATABASE: data
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    audit:
        container_name: "audit-server"
        depends_on:
            - auditDB
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.audit
        environment:
            - ENV=DOCKER
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
    auditDB:
        image: mongo:latest
        container_name: "audit-mongodb"
        environment:
            MONGO_INITDB_DATABASE: audit
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    load:
        container_name: "load-balancer"
        build:
            context: .
            dockerfile: ./loadbalancer/Dockerfile
        ports:
            - "9090:80"
