version: "3"
services:
    quote-mock:
        container_name: "quote-mock-server"
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.quote-mock
        ulimits:
            nofile:
                soft: 65536
                hard: 65536

    web:
        depends_on:
            - audit
            - load-transaction

    web2:
        depends_on:
            - audit
            - load-transaction

    transaction:
        depends_on:
            - watchdog
            - quote-cache
            - audit
            - dataDB

    transaction2:
        depends_on:
            - watchdog
            - quote-cache
            - audit
            - dataDB

    quote-cache:
        depends_on:
            - quote-mock
            - audit
