version: "3"
services:
    quote-mock:
        container_name: "quote-mock-server"
        build:
            context: .
            dockerfile: docker-files/local/Dockerfile.quote-mock
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
    web:
        depends_on:
            - audit

    transaction:
        depends_on:
            - audit

    data:
        depends_on:
            - audit
